[submodule "wujian100_open"]
	path = wujian100_open
	url = git@github.com:LitchiKnight/wujian100_open.git
[submodule "wujian100_sim/common/yuu_ahb"]
	path = wujian100_sim/common/yuu_ahb
	url = git@github.com:LitchiKnight/yuu_ahb.git
[submodule "wujian100_sim/common/yuu_int"]
	path = wujian100_sim/common/yuu_int
	url = git@github.com:LitchiKnight/yuu_int.git
