[submodule "wujian100_open"]
	path = wujian100_open
	url = https://github.com/XUANTIE-RV/wujian100_open.git
[submodule "wujian100_sim/common/yuu_ahb"]
	path = wujian100_sim/common/yuu_ahb
	url = https://github.com/seabeam/yuu_ahb.git
[submodule "wujian100_sim/common/yuu_int"]
	path = wujian100_sim/common/yuu_int
	url = https://github.com/seabeam/yuu_int.git
[submodule "wujian100_sim/uvm_lib/uvm-1.2"]
	path = wujian100_sim/uvm_lib/uvm-1.2
	url = https://github.com/LitchiKnight/uvm-1.2.git
[submodule "wujian100_sim/uvm_lib/uvm-1.1d"]
	path = wujian100_sim/uvm_lib/uvm-1.1d
	url = https://github.com/LitchiKnight/uvm-1.1d.git
[submodule "wujian100_sim/common/i2c_vip"]
	path = wujian100_sim/common/i2c_vip
	url = https://github.com/LitchiKnight/i2c_vip.git
